.modal-large {
  width: 400px;
}

.left, .right {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.left {
  padding-right: 10px;
}

.right {
  padding-left: 10px;
}

.jp-input-wrapper {
  margin-bottom: 12px;
  padding: 1px;
}

.modal-large .jp-select-wrapper {
  height: 30px;
}

.modal-large label {
  display: block;
  margin-bottom: 4px;
}

.modal-large input[type=text].jp-mod-styled, .modal-large textarea.jp-mod-styled {
  width: 100%;
}

.modal-large textarea.jp-mod-styled {
  background: var(--jp-input-background);
  box-sizing: border-box;
  border: var(--jp-border-width) solid var(--jp-border-color1);
  font-size: var(--jp-ui-font-size2);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color0);
  resize: none;
  padding-left: 7px;
  padding-right: 7px;
}

.add-tag.jp-mod-styled {
  border: none;
  outline: none;
  font-size: var(--jp-ui-font-size-1);
  color: var(--jp-ui-font-color2);
  background-color: var(--jp-layout-color1);
  box-sizing: content-box;
}

.add-tag.jp-mod-styled:focus {
  border: none;
  box-shadow: none;
}
